.--project {
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: var(--color1);

}

.--project {
    background: url('../../../../../public/assets/front/img/XO-BackOpa.png'), var(--color1);
    background-size: 90vh;
    background-attachment: fixed
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        margin: auto;
        color: var(--color3);
        padding: 2rem;
    }

    &__btn {
        margin: 3rem auto;
        width: 38%;
        text-align: center;
    }

}

.card-btn {
    margin-top: 1rem;
}

.card-title {
    color: var(--color3);
}

.sectionp3 {
    display: flex;
    flex-direction: row;
}

.container-card {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 1rem;
}

.container-card .card-project {
    position: relative;
    max-width: 350px;
    min-height: 200px;
    background-color: var(--white);
    margin: 30px 10px;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.container-card .card-project:hover {
    min-height: 360px;
}


.container-card .card-project .image-card {
    position: relative;
    width: 260px;
    min-height: 260px;
    margin: 0rem 1.5rem;
    border-radius: 15px;

    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container-card .card-project .image-card .card-img {
    max-width: 100%;
    border-radius: 15px;
    min-height: 240px;
}

.container-card .card-project .content-card {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: var(--black);
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-card .card-project:hover .content-card {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;

}

//-------------------------------------------------------------------

@media (max-width: 1199.98px) {
    .container-card {
        margin: 5rem;
    }
}

@media screen and (max-width: 991.98px) {
    .sectionp3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-project {
        max-width: 250px;
    }

    .container-card {
        margin: 0;
    }

    .project {
        &__btn {
            margin: 1rem;
            width: 100%;
        }
    }
}

@media screen and (max-width: 767.98px) {}

@media screen and (max-width: 575.98px) {
    .project {
        &__btn {
            margin: 1.5rem;
            width: 100%;
        }
    }
}